{% extends 'core/base.html' %}

{% block title %}Order detail - {{ order.id }}{% endblock %}

{% block content %}
    <h1 class="mb-6 text-2xl">Order detail - {{ order.id }}</h1>

    <h2 class="mb-3 text-xl">My products in this order</h2>

    <div class="flex flex-wrap">
        <div class="w-1/3">
            <strong>Title</strong>
        </div>

        <div class="w-1/3">
            <strong>Quantity</strong>
        </div>

        <div class="w-1/3">
            <strong>Price</strong>
        </div>
    </div>

    {% for item in order.items.all %}
        {% if item.product.user == request.user %}
            <div class="flex flex-wrap">
                <div class="w-1/3">
                    {{ item.product.title }}
                </div>

                <div class="w-1/3">
                    {{ item.quantity }}
                </div>

                <div class="w-1/3">
                    ${{ item.get_display_price }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}