{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block meta %}
<meta name="description" content="PetNet is the best online store for pets bla bla bla">
<meta name="author" content="PetNet Stein">
<meta property="og:title" content="PetNet | About">
<meta property="og:description" content="PetNet is the best online store for pets bla bla bla">
<meta property="og:type" content="article">
<meta property="og:url" content="http://petnet.com/about/">
{% endblock %}

{% block content %}
    <h1>About</h1>
{% endblock %}