{% load menu %}

<!doctype html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{% block title %}{% endblock %} | PetNet</title>
        
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body>
        <nav class="max-w-4xl mx-auto py-4 px-6 flex items-center justify-between bg-teal-600">
            <div class="logo">
                <a href="/" class="text-2xl text-white">PetNet</a>
            </div>

            <div class="menu flex space-x-4">
                {% menu %}
            </div>
        </nav>

        <div class="max-w-4xl mx-auto py-4 px-6">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>